<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section 1 Part 3 </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">

    <div id="app">
        <section v-show="inProgressAssignments.length">
            <h2 class="font-bold mb-2">In Progress</h2>

            <ul>
                <!-- v-for loops through names  -->
                <li v-for="assignment in inProgressAssignments"
                    :key="assignment.id">
                    <!-- :key is unique to current item. Keeps track of order of array. Otherwise wanky results -->
                    <!-- id is referenced down below in array of data -->
                    <label>
                        {{ assignment.name }}
                            <!-- v-model sets value to true if checked by checkbox -->
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>

        <!-- v-if does not show section in DOM  -->

        <!-- v-show will toggle visibility display hidden if condition is false  -->
        <section v-show="completedAssignments.length" class="mt-8">
            <h2 class="font-bold mb-2">Completed Assignments</h2>

            <ul>
                <!-- v-for loops through names -->
                <!-- filter returns only items that returned true for a given condition -->
                <li v-for="assignment in assignments.filter(a => a.complete)"
                    :key="assignment.id">
                    <label>
                        {{ assignment.name }}
                            <!-- v-model sets value to true if checked by checkbox -->
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>

        </section>

   
    </div>

    <script>

    // app is referenced by Vue
        let app = {
            data() {
                return {
                    // id is referenced by :key
                    assignments: [
                        { name: 'Finish Project', complete: false, id: 1 },
                        { name: 'Finish Chapter 4', complete: false, id: 2 },
                        { name: 'Turn in Homework', complete: false, id: 3 },

                    ]
                }
            },

            computed: {
                
                // Assignments that are completed
                completedAssignments() {
                    // Computed Property
                    return this.assignments.filter(assignment => assignment.complete);
                },

                /* 
                filter returns only items that returned true for a given condition 
                shows assignments that are NOT completed */
                // Assignments that are NOT completed
                inProgressAssignments() {
                    // Computed Property
                    return this.assignments.filter(assignment => ! assignment.complete);
                },
            }
        };

        Vue.createApp(app).mount('#app');
    </script>
    
</body>
</html>